<h2>Donate</h2>
<form id="payment-form">
  <div id="card-element"><!-- Stripe inserts card input here --></div>
  <button type="button" id="pay" data-pk="{{publishableKey}}">Pay $25</button>
</form>

<p id="result"></p>

