<header class="header">
    <nav class="nav">
        <div class="nav-logo"> Vive Wellness</div>
        <button class="nav-toggle" aria-label="Toggle navigation menu" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="nav-menu">
            <li><a href="index.html">Home</a></li>
            {{!-- <li><a href="programs.html">Programs</a></li> --}}
            {{!-- <li><a href="about.html">About Us</a></li> --}}
            {{!-- <li><a href="settings.html">Settings</a></li> --}}
        </ul>
    </nav>
</header>

