<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} | Vive Wellness</title>

    <!-- Google Font: ADLaM Display -->
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">
    <!-- Google Font: Varela Round-->
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Varela+Round&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/global.css" />


    {{#if stylesheet}}
        <link rel="stylesheet" href="/{{stylesheet}}" />
    {{/if}}

    <!-- → loads Stripe.js in the browser.-->
    <script src="https://js.stripe.com/v3/basil.js"></script>



</head>
<body> 
    {{> header}}   <!-- reusable navbar -->

    <main>
        {{{body}}}   <!-- unique page content goes here -->
    </main>

    {{> footer}}   <!-- reusable footer -->
    

    <script src="/donation.js"></script>

    {{#if script}}
        <script src="/{{script}}"></script>
    {{/if}}
</body>
</html>
