<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>

  <!-- Google Font: ADLaM Display -->
  <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">
  <!-- Google Font: Varela Round-->
  <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Varela+Round&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="/styles.css">

  <!-- debug styles always available -->
  <link rel="stylesheet" href="/debug.css"> 

</head>
<body> <!-- add/remove "debug" here -->
  {{> header}}   <!-- reusable navbar -->
  
  <main>
    {{{body}}}   <!-- unique page content goes here -->
  </main>

  {{> footer}}   <!-- reusable footer -->

  <script src="/main.js"></script>
</body>
</html>
