/* 
global.css 

Colors
Fonts
Layout styles
Shared classes
*/
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* 
STRIPE APREANCE API HAS 3 MAINPARTS:
const appearance = {
  theme,
  variables,
  rules,
}; 

theme: "stripe"   // default, clean
theme: "night"    // dark mode
theme: "flat"     // minimal, less shadow

variables: {
  fontFamily: '"Inter", system-ui, sans-serif',

  Focus border, selected states
  colorPrimary: "#5469d4",

  Input background
  colorBackground: "#ffffff",

  Input text color
  colorText: "#30313d",

  Error borders + messages
  colorDanger: "#df1b41",

  Input rounding
  borderRadius: "6px",

  Internal padding scale
  spacingUnit: "4px",
}


Rules let you target specific internal elements:
rules == Stripe-approved CSS selectors

rules: {
  ".Input": {
    padding: "12px",
  },
  ".Input:focus": {
    borderColor: "#5469d4",
  },
  ".Label": {
    fontWeight: "500",
  },
}
*/